.menu-overlay {
  position: absolute;
  z-index: 9000;
  background: rgba(0, 0, 0, 75%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 1rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 2rem;
  height: 2rem;
}

.close-button img {
  width: 100%;
  height: 100%;
}

.navigation-menu-content {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.navigation-menu-content::-webkit-scrollbar {
  display: none;
}

.navigation-menu-content .category {
  margin-bottom: 1.2rem;
}

.navigation-menu-content .category .title {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.navigation-menu-content .category .category-buttons button {
  border: 0;
  padding: 0.5rem 0.8rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
}

.category-buttons .children-and-youth {
  background: rgb(178, 255, 174);
}

.category-buttons .arts-and-crafts {
  background: rgb(255, 169, 169);
}

.category-buttons .healthcare {
  background: rgb(158, 211, 255);
}

.category-buttons .public-services {
  background: rgb(255, 199, 154);
}

.category-buttons .meeting-rooms {
  background: rgb(253, 236, 90);
}

.category-buttons .other {
  background: rgb(193, 255, 240);
}
