.navigation-info-panel {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  min-width: 400px;
  z-index: 500;
  font-size: 0.8rem;
}

.navigation-info-panel .highlight-name {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .navigation-info-panel {
    border-right: none;
    width: 100%;
  }
}
